.vertical-center-absolute {
    margin: 0;
    position: absolute;
    top: 50%;
    right: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.transparent {
    background-color: transparent;
}

.white-text {
    color: white;
}

.login-page {
    height: 100%;
    width: 100%;
}

.event-image {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    max-height: 25rem;
    padding: 2rem;
}
