/* Custom css for components ONLY */

.anchor-me {
    position: fixed;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.carousel {
    background-color: transparent;
}

.carousel .carousel-control-prev {
    background-color: gray;
    z-index: 100;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 5%
}

.carousel .carousel-control-next {
    background-color: gray;
    z-index: 100;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 5%;
}

.zoom {
    transition: trasform 1s;
    opacity: 92.5%;
}

.zoom:hover {
    transform: scale(1.005);
    opacity: 100%;
}

.row .col {
    padding: 0.05%;
}
